@font-face {
  font-family: 'Segoe';
  src: url('../fonts/Segoe/SegoeUI.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe-Light';
  src: url('../fonts/Segoe/SegoeUI-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe-Bold';
  src: url('../fonts/Segoe/SegoeUI-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../fonts/Arial/ArialMT.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}