
.footer {
    background: var(--color-footer-background);
    color: var(--color-light);
    font-family: var(--font-family-footer);
    position: sticky;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-inline: auto;
    max-width: 1265px;
    padding: 20px 65px;
}

.footer__navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    min-height: 185px;
    padding: 20px 0;
}

.footer h3 {
    color: var(--color-light);
    margin: 0 0 15px;
}

.footer h4 {
    font-family: var(--font-family-bold);
    margin: 0 0 15px;
}

.footer p,
.footer li,
.footer__link,
.footer__area p {
    font-size: 12px;
    line-height: 20px;
    vertical-align: middle;
    color: var(--color-light);
}

.footer__link:hover {
    color: var(--color-ligth-accent);
    transition: var(--transition);
}

.footer__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
}

.footer__area {
    padding: 20px 0 0;
    text-align: center;
    width: 100%;
    border-top: 1px dashed var(--color-light);
}

.footer__images {
    display: flex;
    align-items: center;
    min-width: 200px;
    gap: 10px;
}

.bank1,
.bank2,
.bank3 {
   height: 24px;
   background-size: contain;
   background-repeat: no-repeat;
}

.bank1 {
   background-image: url('../img/bank1.png');
   width: 73px;
}

.bank2 {
   background-image: url('../img/bank2.png');
   width: 40px;
}

.bank3 {
   background-image: url('../img/bank3.png');
   width: 24px;
   border-radius: 3px;
}
