@import url(./assets/normalize/_normalize.css);
@import url(./assets/normalize/_fonts.css);
@import url(./assets/normalize/_utils.CSS);

:root {
  --color-light: #FFFFFF;
  --color-dark: #18181B;
  --color-transparent: #00071B7F;
  --color-base: #1E1B4B;
  --color-accent: #6366F1;
  --color-ligth-accent: #818CF8;
  --color-unfilled-stars: #C7D2FE;
  --color-filled-stars: #84CC16;
  --color-cards: #EEF2FF;
  --color-home: #E4E4E7;


  --transition: 0.3s;
}

:root {
  --font-family-base: "Segoe";
  --font-family-bold: "Segoe-Bold";
  --font-family-footer: "Arial"
  --font-family-light: "Segoe-Light";
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 12px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-dark);
  background-color: var(--color-light);
}

.container {
  margin-inline: auto;
  max-width: 1265px;
  padding: 20px 65px;
}

.header {
    background: var(--color-home);
    position: sticky;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 60px;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.4rem;
}

.h3 {
    font-size: 24px;
    font-family: "Segoe-Bold";
    color: var(--color-base);
}

.nav__list li {
    padding: 0 3px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.nav__list li a {
    color: var(--color-base);
}

.nav__item_active {
    border-bottom: 1.8px solid var(--color-accent);
}

.nav__item_active a {
    cursor: not-allowed; 
}

.nav__item-link:hover {
    color: var(--color-accent);
    transition: var(--transition);
}

.main {
    background: var(--color-home);
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: -10px;
    max-height: 580px;
}

.accent-text {
    color: var(--color-accent);
}

.home__title {
    max-width: 55%;
}

.h1 {
    font-size: 56px;
    font-family: var(--font-family-bold);
    line-height: 130%;
    padding: 1rem 0;
}

.home__title h1 {
    margin: 0 0 1.5rem;
}

.h4 {
    font-size: 16px;
    font-family: "Segoe-Light";
    letter-spacing: 0.6px;
}

.home__input {
    display: flex;
    flex-direction: row;
    outline: none;
    align-items: center;
    margin: 1.5rem 0 6rem;
}

.home__input-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 40px;
    width: 300px;
    border-radius: 6px;
    border: 1px solid #00062E32;
    background: var(--color-light);
    font-family: var(--font-family-base);
    color: #00071B7F;
}

.search,
.search__item {
    width: 15px;
    height: 15px;
    outline: none;
    background: transparent;
    border: none;
    padding: 1px 0 0 0;
    align-self: center;
}

.home__input input {
    margin: 0 70px 0 0;
}

.search__item {
    margin: 0 0 10px 0;
}

.search svg path {
    fill: #0006177f;
}

.search__item svg path {
    fill: var(--color-accent);
}

.search__item svg path:hover {
    fill: var(--color-ligth-accent);
    transition: var(--transition);
}

input {
    outline: none;
    background: transparent;
    border: none;
}

.home__image {
    display: block;
    padding: 0px 0px 0 0;
    align-items: center;
}

.home__image1 {
    position: relative;
    right: 120px;
    top: 230px;
    Width: 240px;
    height: 320px;
    border-radius: 10px;
    z-index: 5;
}

.home__image2 {
    position: relative;
    border-radius: 10px;
    z-index: 4;
    top: -75px;
    left: -95px;
    transform: rotate(3deg);
    width: 222px;
    height: 295px;
}

.home__image3 {
    position: relative;
    border-radius: 10px;
    z-index: 3;
    top: -360px;
    left: -70px;
    transform: rotate(6deg);
    width: 205px;
    height: 274px;
}