@media (width < 992px) {
    .container,
    .footer__container {
        padding: 2rem;
    }

    .home__image,
    .explore__image, 
    .find__image {
        display: none;
    }

    .explore__content {
        margin: 0;
        padding: 0 0 2rem;
    }

    .explore__content-title {
        width: 100%;
        margin-bottom: 0;
    }

    .explore__content-table {
        min-width: 50%;
    }

    .find__content {
        min-height: fit-content;
        margin: 2rem 0;
    }

    .find__content-items {
        width: 100%;
        text-align: center;
        gap: 2rem;
    }

    .find__input {
        margin: 0;
    }

    .summary {
        flex-direction: column;
        align-items: flex-end ;
    }

    .summary__wrapper {
        max-width: max-content;
        margin-right: 0.5rem;
    }

    .cart__list {
        width: 100%;
        max-height: 24rem;
        padding-right: 5px;
    }

    .footer__navigation {
        height: fit-content;
    }

    #bank {
        display: none;
    }
}

@media (width < 769px) {
    .home__input-form {
        min-width: 100%;
    }

    .h1, h1 {
        font-size: 4rem;
    }

    .h4, h4 {
        font-size: 1.33rem;
    }

    .find__container {
        padding-top: 7rem !important;
    }

    .home__container {
        padding: 2rem;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 88px;
        width: 100%;
        height: calc(100vh - 88px);
        gap: 10px;
        right: -768px;
        z-index: 5;
        background-color: var(--color-light);
        font-size: 1.8rem;
        font-family: var(--font-family-base);
        line-height: 36px;
        transition: .3s ease-in-out;
        overflow: hidden;
    }

    .cart__aside {
        margin-top: 7rem;
    }

    .nav__item:hover {
        transition: .3s ease-in-out;
    }

    .burger {
        display: flex;
        transform: rotate(180deg);
    }

    .header {
        padding: 1.2rem 1rem;
        background-color: var(--color-light);
    }

    .circle__num {
        position: relative;
        top: -12px;
    }

    .no-scroll {
        overflow: hidden;
    }


}


@media (width < 690px) {
    .h1, h1 {
        font-size: 3rem;
    }

    .h4, h4 {
        font-size: 1.1rem;
    }

    .home__input {
        margin-bottom: 1.5rem !important;
    }

    .awards__image {
        display: none;
    }

    .awards__content {
        min-height: auto;
    }

    #cart-icon {
        display: flex;
    }

    #footer-logo {
        display: none;
    }

    .oops {
        font-size: 17px;
        line-height: 20px;
    }

    .card {
        height: 350px;
    }

    .card__article {
        display: none;
    }
}
@media (width < 420px) {
    .card__stars {
        display: none;
    }

    .price__wrapper {
        margin-right: 0;
    }

    .summary__wrapper {
        min-width: 100%;
        margin: 0;
    }
}
